In [1]:
from sklearn.externals import joblib
import pandas as pd

In [2]:
# read csv
# save some server data as template for numpy array
train_df_from_server = pd.read_csv('../../data/train_complete.csv', index_col= 0)
# take a small subset of data and make it the client data
train_df_from_client = train_df_from_server[300:310]

In [3]:
train_df_from_server.shape

(30162, 15)

In [4]:
train_df_server_client = train_df_from_server.append(train_df_from_client, ignore_index=True)

In [5]:
train_df_server_client.shape

(30172, 15)

In [6]:
dummy_cols = ["workclass", "education",
             "marital_stat", "occupation",
             "relationship", "race",
             "sex", "native_country"]

In [8]:
train_df_server_client_with_dummies = pd.get_dummies(train_df_server_client, columns= dummy_cols)

In [18]:
test_df_client_only_with_dummies = train_df_server_client_with_dummies.iloc[-10:]

In [19]:
test_df_client_only_with_dummies.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hr_per_wk,label,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
30162,29,200381,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
30163,76,174309,14,0,0,10,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30164,63,78383,9,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30165,43,187728,10,0,1887,50,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
30166,58,321171,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [24]:
test_df_client_only_with_dummies = test_df_client_only_with_dummies.drop(['label'], axis=1)

In [25]:
test_df_client_only_with_dummies.shape

(10, 104)

In [26]:
# create client test data
X_client = test_df_client_only_with_dummies.values

In [27]:
X_client.shape

(10, 104)