I will build several classifiers in this jupyter notebook then select the best one to deploy.

In [1]:
# important dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import ElasticNet, ElasticNetCV, LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from scipy import stats
%matplotlib inline

### 1. Preprocessing

In [2]:
# read csv
train_df = pd.read_csv('../../data/train_complete.csv')
test_df = pd.read_csv('../../data/test_complete.csv')

In [3]:
# check csv dimension

train_df.shape

(30162, 16)

In [4]:
test_df.shape

(15061, 16)

In [8]:
# turn label into 0 and 1
# ref: https://stackoverflow.com/questions/51672709/converting-no-and-yes-into-0-and-1-in-pandas-dataframe

train_df['label'].replace(['<=50K', '>50K'], value=[0, 1])

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
5         <=50K
6         <=50K
7          >50K
8          >50K
9          >50K
10         >50K
11         >50K
12        <=50K
13        <=50K
14        <=50K
15        <=50K
16        <=50K
17        <=50K
18         >50K
19         >50K
20        <=50K
21        <=50K
22        <=50K
23        <=50K
24         >50K
25        <=50K
26        <=50K
27        <=50K
28        <=50K
29        <=50K
          ...
30132     <=50K
30133     <=50K
30134     <=50K
30135     <=50K
30136      >50K
30137      >50K
30138     <=50K
30139     <=50K
30140      >50K
30141     <=50K
30142      >50K
30143     <=50K
30144     <=50K
30145     <=50K
30146      >50K
30147     <=50K
30148     <=50K
30149     <=50K
30150     <=50K
30151     <=50K
30152     <=50K
30153     <=50K
30154     <=50K
30155      >50K
30156     <=50K
30157     <=50K
30158      >50K
30159     <=50K
30160     <=50K
30161      >50K
Name: label, Length: 30162, dtype: object

In [9]:
train_df['label'].head(10)

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
5     <=50K
6     <=50K
7      >50K
8      >50K
9      >50K
Name: label, dtype: object

In [1]:
# convert the discrete columns into dummiy variables
dummy_cols = ["workclass", "education",
             "marital_stat", "occupation",
             "relationship", "race",
             "sex", "native_country"]