I will build several classifiers in this jupyter notebook then select the best one to deploy.

In [1]:
# important dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import ElasticNet, ElasticNetCV, LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from scipy import stats
%matplotlib inline

### 1. Preprocessing

In [2]:
# read csv
train_df = pd.read_csv('../../data/train_complete.csv', index_col= 0)
test_df = pd.read_csv('../../data/test_complete.csv', index_col= 0)

In [3]:
# check csv dimension

train_df.shape

(30162, 15)

In [4]:
test_df.shape

(15061, 15)

In [5]:
train_df['label'].head(10)

1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     1
10    1
Name: label, dtype: int64

In [6]:
# convert the discrete columns into dummiy variables
dummy_cols = ["workclass", "education",
             "marital_stat", "occupation",
             "relationship", "race",
             "sex", "native_country"]

In [7]:
train_df_with_dummies = pd.get_dummies(train_df, columns= dummy_cols)

In [8]:
# inspect the training set again for dummies

train_df_with_dummies.head(5)

,age,fnlwgt,education_num,capital_gain,capital_loss,hr_per_wk,label,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
1,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0