In [1]:
from sklearn.externals import joblib
import pandas as pd

In [2]:
# read csv
# save some server data as template for numpy array
train_df_from_server = pd.read_csv('../../data/train_complete.csv', index_col= 0)
# take a small subset of data and make it the client data
train_df_from_client = train_df_from_server[300:310]

In [3]:
train_df_from_server.shape

(30162, 15)

In [4]:
train_df_server_client = train_df_from_server.append(train_df_from_client, ignore_index=True)

In [5]:
train_df_server_client.shape

(30172, 15)

In [6]:
dummy_cols = ["workclass", "education",
             "marital_stat", "occupation",
             "relationship", "race",
             "sex", "native_country"]

In [8]:
train_df_server_client_with_dummies = pd.get_dummies(train_df_server_client, columns= dummy_cols)

In [18]:
test_df_client_only_with_dummies = train_df_server_client_with_dummies.iloc[-10:]

In [19]:
test_df_client_only_with_dummies.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hr_per_wk,label,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
30162,29,200381,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
30163,76,174309,14,0,0,10,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30164,63,78383,9,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30165,43,187728,10,0,1887,50,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
30166,58,321171,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [24]:
test_df_client_only_with_dummies = test_df_client_only_with_dummies.drop(['label'], axis=1)

In [25]:
test_df_client_only_with_dummies.shape

(10, 104)

In [26]:
# create client test data
X_client = test_df_client_only_with_dummies.values

In [27]:
X_client.shape

(10, 104)

In [39]:
test_df_client_only_with_dummies.iloc[0].to_json()

'{"age":29,"fnlwgt":200381,"education_num":7,"capital_gain":0,"capital_loss":0,"hr_per_wk":40,"workclass_ Federal-gov":0,"workclass_ Local-gov":0,"workclass_ Private":1,"workclass_ Self-emp-inc":0,"workclass_ Self-emp-not-inc":0,"workclass_ State-gov":0,"workclass_ Without-pay":0,"education_ 10th":0,"education_ 11th":1,"education_ 12th":0,"education_ 1st-4th":0,"education_ 5th-6th":0,"education_ 7th-8th":0,"education_ 9th":0,"education_ Assoc-acdm":0,"education_ Assoc-voc":0,"education_ Bachelors":0,"education_ Doctorate":0,"education_ HS-grad":0,"education_ Masters":0,"education_ Preschool":0,"education_ Prof-school":0,"education_ Some-college":0,"marital_stat_ Divorced":0,"marital_stat_ Married-AF-spouse":0,"marital_stat_ Married-civ-spouse":0,"marital_stat_ Married-spouse-absent":0,"marital_stat_ Never-married":1,"marital_stat_ Separated":0,"marital_stat_ Widowed":0,"occupation_ Adm-clerical":0,"occupation_ Armed-Forces":0,"occupation_ Craft-repair":0,"occupation_ Exec-managerial":1,"occupation_ Farming-fishing":0,"occupation_ Handlers-cleaners":0,"occupation_ Machine-op-inspct":0,"occupation_ Other-service":0,"occupation_ Priv-house-serv":0,"occupation_ Prof-specialty":0,"occupation_ Protective-serv":0,"occupation_ Sales":0,"occupation_ Tech-support":0,"occupation_ Transport-moving":0,"relationship_ Husband":0,"relationship_ Not-in-family":1,"relationship_ Other-relative":0,"relationship_ Own-child":0,"relationship_ Unmarried":0,"relationship_ Wife":0,"race_ Amer-Indian-Eskimo":0,"race_ Asian-Pac-Islander":0,"race_ Black":0,"race_ Other":0,"race_ White":1,"sex_ Female":1,"sex_ Male":0,"native_country_ Cambodia":0,"native_country_ Canada":0,"native_country_ China":0,"native_country_ Columbia":0,"native_country_ Cuba":0,"native_country_ Dominican-Republic":0,"native_country_ Ecuador":0,"native_country_ El-Salvador":0,"native_country_ England":0,"native_country_ France":0,"native_country_ Germany":0,"native_country_ Greece":0,"native_country_ Guatemala":0,"native_country_ Haiti":0,"native_country_ Holand-Netherlands":0,"native_country_ Honduras":0,"native_country_ Hong":0,"native_country_ Hungary":0,"native_country_ India":0,"native_country_ Iran":0,"native_country_ Ireland":0,"native_country_ Italy":0,"native_country_ Jamaica":0,"native_country_ Japan":0,"native_country_ Laos":0,"native_country_ Mexico":0,"native_country_ Nicaragua":0,"native_country_ Outlying-US(Guam-USVI-etc)":0,"native_country_ Peru":0,"native_country_ Philippines":0,"native_country_ Poland":0,"native_country_ Portugal":0,"native_country_ Puerto-Rico":0,"native_country_ Scotland":0,"native_country_ South":0,"native_country_ Taiwan":0,"native_country_ Thailand":0,"native_country_ Trinadad&Tobago":0,"native_country_ United-States":1,"native_country_ Vietnam":0,"native_country_ Yugoslavia":0}'